/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/app/Console
/app/Exceptions
/app/Providers
/tests
/database
/config
/bootstrap
/.idea
editor.config
env.example
.gitattributes
.gitignore
artisan
phpunit.xml
webpack.mix.js
server.php
README.md
.styleci.yml
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
